@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: 'Lato', sans-serif;
   background-color: black;
   color: white;
}
.container {
   display: flex;
}
.imgDiv {
   min-height: 100vh;
   width: 54%;
   background-image: url('assets/twtr-bg.png');
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
}
#big-bird {
   font-size: 24em;
}


/* right side */
.right-container {
   width: 46%;
}
.all {
   padding: 1em;
   color: rgb(221, 221, 221);
}
.bird {
   font-size: 2.5em;
   padding: .5em;
   color: rgb(212, 212, 212);
}
.main-text {
   padding-left: 1em;
}
.main-text h1{
   font-weight: 900;
   font-size: 4em;
   padding: .7em 0 .5em 0;
}
.main-text h2 {
   font-size: 2.3em;
   padding: .5em 0 .5em 0;
   font-weight: 700;
}
/* signup-buttons */
.signup-container {
   display: flex;
   flex-direction: column;
   padding: 1em;
}
.signup-btn {
   background-color: white;
   height: 3.4em;
   width: 23em;
   border-radius: 30px;
   margin-bottom: .5em;
}
.sEmail {
   background-color: rgb(49, 66, 219);
   color: white;
   height: 3em;
   width: 23em;
   border-radius: 30px;
}
/* separator */
.separator {
   display: flex;
   align-items: center;
   margin-bottom: .5em;
}
.line {
   margin: 0 .5em 0 .5em;
   height: 1px;
   width: 8.2em;
   background-color: rgb(85, 85, 85);
}
/* small text at bottom */
.p-container {
   margin: .5em;
   width: 52%;
}
.p-container p {
   font-size: .78em;
}
.p-container a {
   color: rgb(49, 66, 219);
   text-decoration: none;
}
/* sign in */
.signin-container {
   margin: 1em;
}
.signin-container h2{
   font-size: 1em;
   margin: 0 0 .5em .5em;
}
.signin-btn {
   width: 23em;
   background-color: black;
   border: 1px solid rgb(107, 107, 107);
   color: rgb(49, 66, 219);
   height: 2.5em;
   border-radius: 30px;
}
button {
   cursor: pointer;
}


/* footer */
.ftr {
   margin: .3em 1em .3em 1em;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}
.ftr a {
   text-decoration: none;
   color: rgb(151, 151, 151);
   font-size: .78em;
   padding: .5em;
}